# Archivos Python compilados
__pycache__/
*.py[cod]
*.pyo

# Entornos virtuales
env/
venv/

# Archivos de base de datos locales
db.sqlite3
*.sqlite3
*.db

# Archivos de configuración local
*.env

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de log
*.log

# Archivos estáticos recolectados en producción
/staticfiles/

# Archivos de media subidos por usuarios (si los hubiera)
media/

# Node (si usas npm o frontend tooling)
node_modules/
