/* Ajuste para dar espacio entre navbar fixed y el hero */
.hero {
    margin-top: 80px;
    /* Altura de navbar */
}

/* Enlaces navbar personalizados */
.navbar .nav-link {
    font-weight: 500;
    margin-left: 1rem;
    color: #333;
    transition: color 0.3s ease;
}

.navbar .nav-link:hover {
    color: #f37021;
    /* Color anaranjado similar a STIHL */
}

.button-form {
    border-radius: 40px;
    border-color: #f37021;
    color: #f37021;
    background-color: white;

}

.button-form:hover {
    background-color: #f37021;
    color: white;
    border-color: white;
}

.titulo-principal {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
}

.titulo-principal span {
    color: #f37021;
    /* Color anaranjado similar a STIHL */
    font-weight: bold;
}

.presentacion {
    font-size: 1.2rem;
    color: #666;
    margin-top: 10px;
}

.hero {
    background: url('img/foto-tienda2.jpeg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    color: white;
}

.cuadro-texto {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.img-servicio {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 10px;
}


.card-img-producto {
    width: 100%;
    height: 320px;
    object-fit: contain;
    border-radius: 5px 5px 0 0;
}


.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}


footer {
    background-color: #111;
}