/* Ajuste para dar espacio entre navbar fixed y el hero */
.hero {
    margin-top: 80px;
    background: url('img/foto-tienda2.jpeg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    color: white;
}

/* Enlaces navbar personalizados */
.navbar .nav-link {
    font-weight: 500;
    margin-left: 1rem;
    color: #333;
    transition: color 0.3s ease;
}

.navbar .nav-link:hover {
    color: #f37021;
    /* Color anaranjado similar a STIHL */
}

.button-form {
    border-radius: 40px;
    border-color: #f37021;
    color: #f37021;
    background-color: white;

}

.button-form:hover {
    background-color: #f37021;
    color: white;
    border-color: white;
}

.titulo-principal {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
}

.titulo-principal span {
    color: #f37021;
    /* Color anaranjado similar a STIHL */
    font-weight: bold;
}

.text-title-form span {
    color: #f37021;
    /* Color anaranjado similar a STIHL */
    font-weight: bold;
}

.presentacion {
    font-size: 1.2rem;
    color: #666;
    margin-top: 10px;
}

.cuadro-texto {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.img-servicio {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 10px;
}


.card-img-producto {
    width: 100%;
    height: 320px;
    object-fit: contain;
    border-radius: 5px 5px 0 0;
}


.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}


footer {
    background-color: #111;
}


/* General */
#contacto {
    background: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-form {
    font-size: 1.1rem;
    color: #6c757d;
    font-weight: 500;
}

.text-title-form {
    font-size: 2.5rem;
    font-weight: 700;
    color: #343a40;
}

/* Inputs */
form .form-control {
    border-radius: 0.5rem;
    border: 1px solid orange;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    transition: border-color 0.3s, box-shadow 0.3s;
}

form .form-control:focus {
    border-color: #f37021;
    box-shadow: 0 0 0 0.2rem #f37021;
}

/* Responsive adjustments */
@media (max-width: 767px) {
    .text-title-form {
        font-size: 2rem;
    }

    .text-form {
        font-size: 1rem;
    }
}

.titulo-productos {
    background-color: #f8f9fa;
    border-radius: 50px;
    padding: 10px;
    border: solid 2px #f37021;
}

.titulo-servicios {
    background-color: #e1e1e1;
    border-radius: 50px;
    padding: 10px;
    border: solid 2px #f37021;
}

.mapa-ubicacion {
    background-color: #e1e1e1;
}

.carousel-indicators {
    position: absolute;
    bottom: -50px;
    left: 15%;
    right: 15%;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 1rem;
}

.carousel-indicators button {
    width: 12px !important;
    height: 12px !important;
    border-radius: 50%;
    border: none;
    background-color: gray !important;
    opacity: 0.5;
    margin: 0 5px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    box-sizing: content-box;
    flex: 0 1 auto;
    padding: 0;
    text-indent: -999px;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.carousel-indicators button.active {
    opacity: 1;
    background-color: #000;
}


.acceso-politica {
    text-decoration: none;
    color: #fff;
}

.acceso-politica:hover {
    text-decoration: underline;
    color: #f37021;
}

.lista-contacto li a {
    text-decoration: none;
    color: #333;
}

.lista-contacto li a:hover {
    text-decoration: underline;
    color: #f37021;
}

.btn-translate {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: transform 0.2s, background-color 0.2s;
}

.btn-translate:hover {
    background-color: #ff9500;
    transform: scale(1.1);
}

/* Oculta el texto "Seleccionar idioma" de Google Translate */
#google_translate_element .goog-te-menu-value span:first-child {
    display: none !important;
}

/* Ajusta padding del contenedor para que quede centrado dentro del botón */
.btn-translate #google_translate_element {
    padding-left: 0 !important;
}

/* Boton menu hamburguesa */

.svg-toggler svg {
    cursor: pointer;
}

.svg-toggler .line {
    transition: all 0.3s ease-in-out;
    transform-origin: center;
}

/* Al abrir el menú */
.navbar-toggler:not(.collapsed) .line.top {
    transform: translateY(15px) rotate(45deg);
}

.navbar-toggler:not(.collapsed) .line.middle {
    opacity: 0;
}

.navbar-toggler:not(.collapsed) .line.bottom {
    transform: translateY(-15px) rotate(-45deg);
}

/* Opcional: efecto hover para resaltar */
.svg-toggler:hover .line {
    stroke: #ff9500;
    /* naranja más brillante */
}

.svg-toggler {
    border: none;
    background: none;
    padding: 0;
    outline: none;
    /* quita el borde de enfoque */
    box-shadow: none;
    /* quita cualquier sombra */
}

.svg-toggler:focus,
.svg-toggler:active {
    outline: none;
    box-shadow: none;
}